# system files
/node_modules
.DS_Store
Thumbs.db
package-lock.json
/.angular
/.vscode
.temp
.cache

# build files
/dist
/.app
/electron
/publish
/android
/ios


# works files
.env
.gitToken
.sonarToken
.deviceId
config.json
/media

# else
*.log
*.tgz
logs