@use "../../../../styles/button/button.scss";
  .home-title-section {
    height: calc(100dvh - 4.5rem);
    max-height: 54rem;
    .padding-block {
      margin-bottom: 0;
      overflow: hidden;
      .content-block {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        .content {
          max-width: 48rem;
          text-align: center;
          .title {
            margin-bottom: 1.5rem;
          }
          .buttons-block {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;
            .button {
              &:first-of-type {
                @include button.button($solid: true);
              }
              &:last-of-type {
                @include button.button($arrow: true);
              }
            }
          }
        }
      }
      .images-block {
        position: relative;
        > * {
          aspect-ratio: 1/1.2;
          position: absolute;
          object-fit: cover;
          border-radius: var(--border-16);
        }
        .left {
          z-index: 2;
          &.small {
            z-index: 1;
          }
        }
        .right {
          right: 0;
          &.small {
            z-index: 2;
          }
          &.big {
            z-index: 1;
          }
        }
      }
    }
  }
  .home-skills-section {
    background-color: var(--color-back-blue-1);
    * {
      color: var(--color-font-white);
    }
    .padding-block {
      overflow: hidden;
      display: grid;
      grid-auto-columns: 1fr;
      grid-row-gap: 4rem;
      grid-template-rows: auto;
      margin-top: 0;
      .content-block {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        .content {
          max-width: 48rem;
          .title {
            margin-bottom: 1.5rem;
          }
          .buttons-block {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            .button {
              &:first-of-type {
                @include button.button($solid: true);
              }
            }
          }
        }
      }
      .skills-block {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        grid-template-rows: auto;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        .skill-item {
          display: flex;
          overflow: hidden;
          width: 100%;
          align-items: center;
          background-color: var(--color-button-blue-2);
          border-radius: var(--border-8);
          transition: var(--anim-2);
          .image {
            width: 2.5rem;
            aspect-ratio: 1;
            --color-1: var(--color-font-white);
          }
          .skill-name {
            font-weight: bold;
          }
        }
      }
    }
  }
  .home-projects-section {
    .padding-block {
      overflow: hidden;
      .content-block {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        .content {
          max-width: 48rem;
          .title {
            margin-bottom: 1.5rem;
          }
          .buttons-block {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            .button {
              &:first-of-type {
                @include button.button($solid: true);
              }
              &:last-of-type {
                @include button.button($arrow: true);
              }
            }
          }
        }
      }
      .timeline-block {
        gap: 0.5rem;
        margin-top: 5rem;
        width: 100%;
        .timeline-item {
          position: relative;
          display: grid;
          img {
            overflow-x: hidden;
            overflow-y: hidden;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            box-sizing: border-box;
          }
          .timeline {
            display: flex;
            width: 100%;
            align-items: center;
            overflow: hidden;
            position: relative;
            .circle {
              z-index: 2;
              width: 1rem;
              border-radius: var(--border-100);
              background-color: var(--color-button-blue-2);
              box-shadow: 0px 0px 0px 0.5rem var(--color-back-invert);
            }
            .date {
              position: absolute;
              top: 50%;
              z-index: 1;
              background-color: var(--color-back-invert);
              padding: 0.125rem 0.5rem;
              transition: all 0.4s ease-in-out;
            }
            .line {
              background-color: var(--color-button-blue-2);
            }
          }
          .text-block {
            h3 {
              margin-bottom: 0.5rem;
            }
            p {
              font-size: var(--font-16);
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 800px) {
    .home-title-section {
      .padding-block {
        .content-block {
          .content {
            .title {
              font-size: var(--font-56);
            }
            .text {
              font-size: var(--font-18);
            }
          }
        }
        .images-block {
          > * {
            width: 25%;
            box-shadow: 20px -20px 0px 0px var(--color-button-gray-2);
            transition: var(--anim-2);
            &.big {
              bottom: -6rem;
            }
            &.small {
              bottom: -10rem;
            }
            &:hover {
              bottom: -2rem;
              &.left,
                        &.right {
                &.small,
                            &.big {
                  box-shadow: 20px -20px 0px 0px var(--color-button-blue-2);
                }
              }
            }
          }
          .left {
            left: 0;
            &.small {
              left: 10rem;
              box-shadow: 20px -20px 0px 0px var(--color-button-gray-1);
            }
          }
          .right {
            &.small {
              right: 10rem;
            }
            &.big {
              box-shadow: 20px -20px 0px 0px var(--color-button-gray-1);
            }
          }
        }
      }
    }
    .home-skills-section {
      border-radius: var(--border-16);
      .padding-block {
        padding: 5rem;
        align-items: center;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        .content-block {
          .content {
            .title {
              font-size: var(--font-48);
            }
            .text {
              font-size: var(--font-18);
            }
            .buttons-block {
              .button {
                &:last-of-type {
                  @include button.button($arrow: true, $color: var(--color-font-white));
                }
              }
            }
          }
        }
        .skills-block {
          .skill-item {
            padding: 0.875rem 2rem;
            gap: 1rem;
            cursor: default;
            &:hover {
              transform: scale(1.05) translateY(0.25rem);
              box-shadow: 0 -5px 0 0 var(--color-button-gray-2);
            }
            .skill-name {
              font-size: var(--font-20);
            }
          }
        }
      }
    }
    .home-projects-section {
      .padding-block {
        .content-block {
          .content {
            .title {
              font-size: var(--font-48);
            }
            .text {
              font-size: var(--font-18);
            }
          }
        }
        .timeline-block {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          .timeline-item {
            flex-direction: column;
            align-items: baseline;
            grid-auto-columns: 1fr;
            grid-column-gap: 1.5rem;
            grid-row-gap: 1.5rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr max-content 1fr;
            &:hover {
              cursor: pointer;
              .timeline {
                .date {
                  left: 40%;
                  transform: translate(-50%, -50%);
                }
                .line {
                  background: linear-gradient(-45deg, var(--color-back-blue-2) 25%, var(--color-back-invert) 50%, var(--color-back-blue-2) 75%);
                  background-size: 300% 300%;
                  animation: gradient 1s ease infinite;
                  @keyframes gradient {
                    0% {
                      background-position: 100% 50%;
                    }
                    100% {
                      background-position: 0% 50%;
                    }
                  }
                }
              }
            }
            &:nth-child(even) {
              align-items: end;
              img {
                order: 3;
                margin-bottom: auto;
              }
              .timeline {
                order: 2;
              }
              .text-block {
                order: 1;
              }
            }
            img {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              border-radius: var(--border-12);
              margin-top: auto;
            }
            .timeline {
              .circle {
                height: 1rem;
              }
              .date {
                left: 0%;
                transform: translate(-100%, -50%);
              }
              .line {
                width: 100%;
                height: 3px;
                margin-left: 0.5rem;
              }
            }
            .text-block {
              h3 {
                align-self: start;
                padding-right: 1rem;
                font-size: var(--font-24);
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .home-title-section {
      .padding-block {
        .content-block {
          z-index: 1;
          padding-bottom: 10dvh;
          .content {
            .title {
              font-size: var(--font-40);
            }
            .text {
              font-size: var(--font-16);
            }
          }
        }
        .images-block {
          z-index: 0;
          > * {
            width: 30%;
            left: 50%;
          }
          .left {
            &.small {
              transform: translate(-75%, 0);
              bottom: -2rem;
              filter: brightness(1.1);
            }
            &.big {
              left: 0;
              bottom: -4rem;
            }
          }
          .right {
            &.small {
              bottom: -3rem;
              transform: translate(0%, 0);
            }
            &.big {
              filter: brightness(1.1);
              left: auto;
              right: 0;
              bottom: -4rem;
            }
          }
        }
      }
    }
    .home-skills-section {
      .padding-block {
        padding: 2.5rem;
        .content-block {
          .content {
            .title {
              font-size: var(--font-36);
            }
            .text {
              font-size: var(--font-16);
            }
            .buttons-block {
              .button {
                &:last-of-type {
                  @include button.button($arrow: true);
                }
              }
            }
          }
        }
        .skills-block {
          .skill-item {
            flex-direction: column;
            padding: 0.875rem;
            justify-content: center;
            gap: 0.5rem;
            .skill-name {
              font-size: var(--font-18);
              text-align: center;
            }
          }
        }
      }
    }
    .home-projects-section {
      .padding-block {
        .content-block {
          .content {
            .title {
              font-size: var(--font-36);
            }
            .text {
              font-size: var(--font-16);
            }
          }
        }
        .timeline-block {
          display: flex;
          flex-direction: column;
          .timeline-item {
            grid-template-columns: 1fr auto 1.5fr;
            grid-column-gap: 1rem;
            img {
              width: 100%;
              border-radius: var(--border-8);
            }
            .timeline {
              flex-direction: column;
              justify-content: center;
              .circle {
                aspect-ratio: 1;
              }
              .date {
                left: 50%;
                transform: translate(-50%, -50%) rotate(-90deg);
              }
              .line {
                height: 100%;
                width: 3px;
              }
            }
            .text-block {
              margin-bottom: 1rem;
              h3 {
                font-size: var(--font-20);
              }
            }
          }
        }
      }
    }
  }
