@use "../../../../styles/button/button.scss";

@media screen and (min-width: 800px) {
    .skills-main-section {
        max-width: 81.25rem;
        margin: 0 auto;
        color: var(--color-font-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: var(--font-56);
                margin-bottom: 1.5rem;
                text-align: center;
            }
            > .text {
                font-size: var(--font-18);
                text-align: center;
                max-width: 50rem;
                margin: 0 auto;
            }
            .tag-block {
                display: flex;
                gap: 1rem;
                margin-top: 5rem;
                .tag {
                    width: 100%;
                    border: none;
                    @include button.button($solid: true);
                }
            }
            .content-block {
                margin-top: 5rem;
                .title {
                    display: grid;
                    grid-template-columns: 1.5fr 1fr 1fr 1fr;
                    .item {
                        padding: 1.5rem;
                        text-align: center;
                        &:first-of-type {
                            padding-left: 0;
                            text-align: left;
                            align-self: flex-end;
                        }
                        mat-icon {
                            width: 2rem;
                            height: 2rem;
                            font-size: 2rem;
                            margin-bottom: 0.5rem;
                            color: var(--color-font-gray);
                        }
                        .label {
                            margin-bottom: 0.5rem;
                            font-size: var(--font-20);
                            font-weight: bold;
                        }
                        .text {
                            font-size: var(--font-16);
                        }
                    }
                }
                .content {
                    ::ng-deep .mat-mdc-tab-header {
                        display: none;
                    }
                    .item {
                        display: grid;
                        grid-template-columns: 1.5fr 1fr 1fr 1fr;
                        &:nth-child(odd) {
                            background-color: var(--color-back-blue-1);
                            color: var(--color-font-white);
                            border-radius: var(--border-8);
                            .feature {
                                .image {
                                    --color-1: var(--color-font-white);
                                }
                            }
                        }
                        .feature {
                            font-size: var(--font-16);
                            padding: 0.75rem 1rem;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            font-weight: bold;
                            .image {
                                width: 1.5rem;
                                aspect-ratio: 1;
                                margin: -0.25rem 0;
                                --color-1: var(--color-font-invert);
                            }
                        }
                        .value {
                            font-size: var(--font-16);
                            font-weight: bold;
                            text-align: center;
                            padding: 0.75rem 1rem;
                        }
                    }
                    .diviner {
                        font-size: var(--font-20);
                        font-weight: bold;
                        margin: 1rem 0;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
            .buttons-block {
                margin-top: 5rem;
                display: flex;
                gap: 1rem;
                justify-content: center;
                .button {
                    &:first-of-type {
                        @include button.button($solid: true);
                    }
                    &:last-of-type {
                        @include button.button($arrow: true);
                    }
                }
            }
        }
    }

    .skills-sub-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-blue-1);
        border-radius: var(--border-16);
        color: var(--color-font-white);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .title {
                font-size: var(--font-48);
                text-align: center;
                margin-bottom: 5rem;
            }
            .content-block {
                display: grid;
                grid-template-columns: 1fr;
                gap: 4rem;
                justify-items: center;
                .item {
                    text-align: center;
                    max-width: 22rem;
                    .image {
                        width: 4rem;
                        height: 4rem;
                        margin-bottom: 1.5rem;
                        --color-1: var(--color-font-white);
                    }
                    .label {
                        font-size: var(--font-24);
                        margin-bottom: 1.5rem;
                        font-weight: bold;
                    }
                    .text {
                        font-size: var(--font-16);
                    }
                    .buttons-block {
                        margin-top: 2rem;
                        display: flex;
                        gap: 1rem;
                        justify-content: center;
                        .button {
                            &:first-of-type {
                                @include button.button($solid: true);
                            }
                        }
                    }
                }
            }
        }
    }

    .skills-else-section {
        max-width: 81.25rem;
        margin: 0 auto;
        color: var(--color-font-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: var(--font-48);
                margin-bottom: 1.5rem;
                text-align: center;
            }
            > .text {
                font-size: var(--font-18);
                text-align: center;
                max-width: 30rem;
                margin: 0 auto;
            }
            .content-block {
                margin-top: 5rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 2rem;
                grid-row-gap: 4rem;
                .item {
                    text-align: center;
                    .image {
                        margin-bottom: 1.5rem;
                        width: 3rem;
                        height: 3rem;
                        --color-1: var(--color-font-gray);
                    }
                    .title {
                        text-align: center;
                        font-size: var(--font-20);
                        font-weight: bold;
                    }
                    .sub-title {
                        font-size: var(--font-18);
                        margin-bottom: 1rem;
                    }
                    .text {
                        font-size: var(--font-16);
                    }
                }
            }
            .buttons-block {
                margin-top: 5rem;
                display: flex;
                gap: 1rem;
                justify-content: center;
                .button {
                    &:first-of-type {
                        @include button.button($solid: true);
                    }
                    &:last-of-type {
                        @include button.button($arrow: true);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .skills-main-section {
        max-width: 81.25rem;
        margin: 0 auto;
        color: var(--color-font-invert);
        .padding-block {
            padding: 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: var(--font-40);
                margin-bottom: 1.5rem;
                text-align: center;
            }
            > .text {
                font-size: var(--font-18);
                text-align: center;
                max-width: 30rem;
                margin: 0 auto;
            }
            .content-block {
                margin-top: 2.5rem;
                .title {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .item {
                        text-align: center;
                        &:first-of-type {
                            display: none;
                        }
                        mat-icon {
                            width: 2rem;
                            height: 2rem;
                            font-size: 2rem;
                            margin-bottom: 0.5rem;
                        }
                        .label {
                            margin-bottom: 0.5rem;
                            font-size: var(--font-20);
                            font-weight: bold;
                        }
                        .text {
                            font-size: var(--font-16);
                        }
                    }
                }
                .content {
                    margin-top: 1.5rem;
                    .item {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding-top: 2rem;
                        position: relative;
                        &:nth-child(odd) {
                            background-color: var(--color-back-blue-1);
                            color: var(--color-font-white);
                            border-radius: var(--border-8);
                        }
                        .feature {
                            position: absolute;
                            top: 0rem;
                            left: 0;
                            font-size: var(--font-16);
                            padding: 0.75rem 1rem;
                            width: 100%;
                        }
                        .value {
                            font-size: var(--font-16);
                            font-weight: bold;
                            text-align: center;
                            padding: 0.75rem 1rem;
                        }
                    }
                }
            }
            .buttons-block {
                margin-top: 2.5rem;
                display: flex;
                gap: 1rem;
                justify-content: center;
                .button {
                    &:first-of-type {
                        @include button.button($solid: true);
                    }
                    &:last-of-type {
                        @include button.button($arrow: true);
                    }
                }
            }
        }
    }

    .skills-sub-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-blue-1);
        color: var(--color-font-white);
        .padding-block {
            padding: 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .title {
                font-size: var(--font-36);
                text-align: center;
                margin-bottom: 2.5rem;
            }
            .content-block {
                display: grid;
                grid-template-columns: 1fr;
                gap: 4rem;
                .item {
                    text-align: center;
                    mat-icon {
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                        margin-bottom: 1.5rem;
                    }
                    .label {
                        font-size: var(--font-24);
                        margin-bottom: 1.5rem;
                        font-weight: bold;
                    }
                    .text {
                        font-size: var(--font-16);
                    }
                }
            }
        }
    }

    .skills-else-section {
        max-width: 81.25rem;
        margin: 0 auto;
        color: var(--color-font-invert);
        .padding-block {
            padding: 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: var(--font-36);
                margin-bottom: 1.5rem;
                text-align: center;
            }
            > .text {
                font-size: var(--font-18);
                text-align: center;
                max-width: 30rem;
                margin: 0 auto;
            }
            .content-block {
                margin-top: 2.5rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 2rem;
                grid-row-gap: 4rem;
                .item {
                    text-align: center;
                    img {
                        margin-bottom: 1.5rem;
                        width: 5rem;
                        aspect-ratio: 1;
                        border-radius: var(--border-100);
                    }
                    .title {
                        text-align: center;
                        font-size: var(--font-20);
                        font-weight: bold;
                    }
                    .sub-title {
                        font-size: var(--font-18);
                        margin-bottom: 1rem;
                    }
                    .text {
                        font-size: var(--font-16);
                    }
                }
            }
            .buttons-block {
                margin-top: 2.5rem;
                display: flex;
                gap: 1rem;
                justify-content: center;
                .button {
                    &:first-of-type {
                        @include button.button($solid: true);
                    }
                    &:last-of-type {
                        @include button.button($arrow: true);
                    }
                }
            }
        }
    }
}
