@use "../../../../styles/button/button.scss";
  .skills-main-section {
    .padding-block {
      > .title {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      > .text {
        font-size: var(--font-18);
        text-align: center;
        margin: 0 auto;
      }
      .tag-block {
        display: flex;
        gap: 1rem;
        .tag {
          width: 100%;
          border: none;
          @include button.button($solid: true);
        }
      }
      .content-block {
        .title {
          display: grid;
          .item {
            text-align: center;
            &:first-of-type {
            }
            mat-icon {
              width: 2rem;
              height: 2rem;
              font-size: 2rem;
              margin-bottom: 0.5rem;
              color: var(--color-font-gray);
            }
            .label {
              margin-bottom: 0.5rem;
              font-size: var(--font-20);
              font-weight: bold;
            }
            .text {
            }
          }
        }
        .content {
          ::ng-deep .mat-mdc-tab-header {
            display: none;
          }
          .item {
            display: grid;
            &:nth-child(odd) {
              background-color: var(--color-back-blue-1);
              border-radius: var(--border-8);
              * {
                color: var(--color-font-white);
              }
              .feature {
                .image {
                  --color-1: var(--color-font-white);
                }
              }
            }
            .feature {
              font-size: var(--font-16);
              padding: 0.75rem 1rem;
              display: flex;
              align-items: center;
              .image {
                width: 1.5rem;
                aspect-ratio: 1;
                --color-1: var(--color-font-invert);
              }
            }
            .value {
              font-size: var(--font-16);
              font-weight: bold;
              text-align: center;
              padding: 0.75rem 1rem;
            }
          }
          .diviner {
            font-size: var(--font-20);
            font-weight: bold;
            margin: 1rem 0;
            text-align: center;
            width: 100%;
          }
        }
      }
      .buttons-block {
        display: flex;
        gap: 1rem;
        justify-content: center;
        .button {
          &:first-of-type {
            @include button.button($solid: true);
          }
          &:last-of-type {
            @include button.button($arrow: true);
          }
        }
      }
    }
  }
  .skills-sub-section {
    background-color: var(--color-back-blue-1);
    * {
      color: var(--color-font-white);
    }
    .padding-block {
      .title {
        text-align: center;
      }
      .content-block {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        .item {
          text-align: center;
          .image {
            width: 4rem;
            height: 4rem;
            margin-bottom: 1.5rem;
            --color-1: var(--color-font-white);
          }
          .label {
            font-size: var(--font-24);
            margin-bottom: 1.5rem;
            font-weight: bold;
          }
          .text {
            font-size: var(--font-16);
          }
          .buttons-block {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;
            .button {
              &:first-of-type {
                @include button.button($solid: true);
              }
            }
          }
        }
      }
    }
  }
  .skills-else-section {
    .padding-block {
      > .title {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      > .text {
        font-size: var(--font-18);
        text-align: center;
        max-width: 30rem;
        margin: 0 auto;
      }
      .content-block {
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        .item {
          text-align: center;
          .image {
            margin-bottom: 1.5rem;
            width: 3rem;
            height: 3rem;
            --color-1: var(--color-font-gray);
          }
          .title {
            text-align: center;
            font-size: var(--font-20);
            font-weight: bold;
          }
          .sub-title {
            font-size: var(--font-18);
            margin-bottom: 1rem;
          }
          .text {
            font-size: var(--font-16);
          }
        }
      }
      .buttons-block {
        display: flex;
        gap: 1rem;
        justify-content: center;
        .button {
          &:first-of-type {
            @include button.button($solid: true);
          }
          &:last-of-type {
            @include button.button($arrow: true);
          }
        }
      }
    }
  }
  @media screen and (min-width: 800px) {
    .skills-main-section {
      .padding-block {
        > .title {
          font-size: var(--font-56);
        }
        > .text {
          max-width: 50rem;
        }
        .tag-block {
          margin-top: 5rem;
        }
        .content-block {
          margin-top: 5rem;
          .title {
            grid-template-columns: 1.5fr 1fr 1fr 1fr;
            .item {
              padding: 1.5rem;
              &:first-of-type {
                padding-left: 0;
                text-align: left;
                align-self: flex-end;
              }
              .text {
                font-size: var(--font-16);
              }
            }
          }
          .content {
            .item {
              grid-template-columns: 1.5fr 1fr 1fr 1fr;
              .feature {
                gap: 1rem;
                font-weight: bold;
                .image {
                  margin: -0.25rem 0;
                }
              }
            }
          }
        }
        .buttons-block {
          margin-top: 5rem;
        }
      }
    }
    .skills-sub-section {
      border-radius: var(--border-16);
      .padding-block {
        padding: 5rem;
        .title {
          font-size: var(--font-48);
          margin-bottom: 5rem;
        }
        .content-block {
          justify-items: center;
          .item {
            max-width: 22rem;
          }
        }
      }
    }
    .skills-else-section {
      .padding-block {
        > .title {
          font-size: var(--font-48);
        }
        .content-block {
          margin-top: 5rem;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .buttons-block {
          margin-top: 5rem;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .skills-main-section {
      .padding-block {
        > .title {
          font-size: var(--font-40);
        }
        > .text {
          max-width: 30rem;
        }
        .tag-block {
          margin-top: 2.5rem;
          width: 100%;
          overflow-x: auto;
          padding-bottom: 0.5rem;
        }
        .content-block {
          margin-top: 2.5rem;
          .title {
            grid-template-columns: 1fr 1fr 1fr;
            .item {
              &:first-of-type {
                display: none;
              }
              .text {
                font-size: var(--font-14);
              }
            }
          }
          .content {
            margin-top: 1.5rem;
            .item {
              grid-template-columns: 1fr 1fr 1fr;
              padding-top: 2rem;
              position: relative;
              .feature {
                position: absolute;
                top: 0rem;
                left: 0;
                width: 100%;
                gap: 0.5rem;
              }
            }
          }
        }
        .buttons-block {
          margin-top: 2.5rem;
        }
      }
    }
    .skills-sub-section {
      .padding-block {
        padding: 2.5rem;
        .title {
          font-size: var(--font-36);
          margin-bottom: 2.5rem;
        }
      }
    }
    .skills-else-section {
      .padding-block {
        > .title {
          font-size: var(--font-36);
        }
        .content-block {
          margin-top: 2.5rem;
          grid-template-columns: 1fr;
        }
        .buttons-block {
          margin-top: 2.5rem;
        }
      }
    }
  }
