@use "../../../../styles/button/button.scss";
  .projects-title-section {
    .padding-block {
      .sub-title {
        font-size: var(--font-16);
        margin-bottom: 1rem;
        font-weight: bold;
      }
      .title {
        margin-bottom: 1rem;
      }
      .text {
      }
    }
  }
  .projects-main-section {
    .padding-block {
      .project {
        display: grid;
        gap: 3rem;
        .image {
          width: 100%;
          aspect-ratio: 1.5/1;
          object-fit: cover;
          border-radius: var(--border-16);
          transition: var(--anim-2);
        }
        .content-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1.5rem;
          .tags {
            display: flex;
            gap: 1rem;
            align-items: center;
            .category {
              border-radius: var(--border-8);
              font-size: var(--font-14);
              padding: 0.25rem 0.75rem;
              background-color: var(--color-button-gray-2);
              font-weight: bold;
            }
            .time {
              font-size: var(--font-14);
              font-weight: bold;
            }
          }
          .title {
            font-weight: bold;
          }
          .text {
            font-size: var(--font-16);
          }
          .button {
            @include button.button($arrow: true);
          }
        }
      }
    }
  }
  .projects-tag-section {
    .padding-block {
      .tags-list {
        display: flex;
        align-items: center;
        gap: 1rem;
        .tag {
          @include button.button($solid: true);
        }
      }
    }
  }
  .projects-list-section {
    .padding-block {
      .project-list {
        display: grid;
        grid-row-gap: 3rem;
        .project {
          .image {
            width: 100%;
            aspect-ratio: 1.5/1;
            object-fit: cover;
            border-radius: var(--border-16);
            transition: var(--anim-2);
            &:hover {
              transform: scale(1.05) translateY(0.25rem);
              box-shadow: 0 -5px 0 0 var(--color-button-gray-2);
            }
          }
          .content-block {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            .tags {
              display: flex;
              gap: 1rem;
              align-items: center;
              .category {
                font-size: var(--font-14);
                padding: 0.25rem 0.75rem;
                background-color: var(--color-button-gray-2);
                font-weight: bold;
                border-radius: var(--border-8);
                &:hover {
                  cursor: pointer;
                }
              }
              .time {
                font-size: var(--font-14);
                font-weight: bold;
              }
            }
            .title {
              font-size: var(--font-20);
              font-weight: bold;
              display: block;
            }
            .text {
              font-size: var(--font-16);
            }
            .button {
              @include button.button($arrow: true);
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 800px) {
    .projects-title-section {
      .padding-block {
        .title {
          font-size: var(--font-56);
        }
        .text {
          font-size: var(--font-18);
        }
      }
    }
    .projects-main-section {
      .padding-block {
        .project {
          grid-template-columns: repeat(2, 1fr);
          .image {
            &:hover {
              transform: scale(1.05);
            }
          }
          .content-block {
            .tags {
              .category {
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .title {
              font-size: var(--font-32);
            }
          }
        }
      }
    }
    .projects-tag-section {
      .padding-block {
        .tags-list {
          flex-wrap: wrap;
        }
      }
    }
    .projects-list-section {
      .padding-block {
        .project-list {
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1.5rem;
          .project {
            transition: var(--anim-2);
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .projects-title-section {
      .padding-block {
        .title {
          font-size: var(--font-40);
        }
        .text {
          font-size: var(--font-16);
        }
      }
    }
    .projects-main-section {
      .padding-block {
        .project {
          grid-template-columns: 1fr;
          .image {
            &:hover {
              transform: scale(1.05) translateY(0.25rem);
              box-shadow: 0 -5px 0 0 var(--color-button-gray-2);
            }
          }
          .content-block {
            .tags {
              .category {
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .title {
              font-size: var(--font-24);
            }
          }
        }
      }
    }
    .projects-tag-section {
      .padding-block {
        .tags-list {
          width: 100%;
          overflow-x: auto;
          padding-bottom: 0.5rem;
        }
      }
    }
    .projects-list-section {
      .padding-block {
        .project-list {
          grid-template-columns: 1fr;
        }
      }
    }
  }
