@media screen and (min-width: 800px) {
    .projects-title-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .sub-title {
                font-size: var(--font-text);
                margin-bottom: 1rem;
                color: var(--color-font-invert);
                font-weight: bold;
            }
            .title {
                font-size: 3.5rem;
                line-height: 1.25;
                color: var(--color-font-invert);
            }
        }
    }

    .projects-main-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 0 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .project {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3rem;
                .image {
                    width: 100%;
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .content-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1.5rem;
                    .tags {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .category {
                            font-size: var(--font-mini);
                            color: var(--color-font-black);
                            padding: 0.25rem 0.75rem;
                            background-color: var(--color-button-gray-2);
                            font-weight: bold;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .time {
                            font-size: var(--font-mini);
                            color: var(--color-font-invert);
                            font-weight: bold;
                        }
                    }
                    .title {
                        font-size: 2rem;
                        color: var(--color-font-invert);
                        font-weight: bold;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .text {
                        font-size: var(--font-text);
                        color: var(--color-font-invert);
                    }
                    .button {
                        padding: 0.75rem 1.5rem;
                        padding-left: 0;
                        color: var(--color-font-invert);
                        border-radius: var(--border-low);
                        font-size: var(--font-text);
                        transition: var(--anim-mid);
                        min-width: 6rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        justify-content: center;
                        width: fit-content;
                        &:hover {
                            cursor: pointer;
                            mat-icon {
                                animation: arrow 1s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }

    .projects-tag-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .tags-list {
                display: flex;
                align-items: center;
                gap: 1rem;
                .tag {
                    font-size: var(--font-text);
                    color: var(--color-font-invert);
                    padding: 0.25rem 0.75rem;
                    &.active {
                        background-color: var(--color-button-gray-2);
                    }
                }
            }
        }
    }

    .projects-list-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 0 5rem 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .project-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 1.5rem;
                grid-row-gap: 3rem;
                .image {
                    width: 100%;
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .content-block {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1.5rem;
                    .tags {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .category {
                            font-size: var(--font-mini);
                            color: var(--color-font-black);
                            padding: 0.25rem 0.75rem;
                            background-color: var(--color-button-gray-2);
                            font-weight: bold;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .time {
                            font-size: var(--font-mini);
                            color: var(--color-font-invert);
                            font-weight: bold;
                        }
                    }
                    .title {
                        font-size: 1.5rem;
                        color: var(--color-font-invert);
                        font-weight: bold;
                        display: block;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .text {
                        font-size: var(--font-text);
                        color: var(--color-font-invert);
                    }
                    .button {
                        padding: 0.75rem 1.5rem;
                        padding-left: 0;
                        color: var(--color-font-invert);
                        border-radius: var(--border-low);
                        font-size: var(--font-text);
                        transition: var(--anim-mid);
                        min-width: 6rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        justify-content: center;
                        width: fit-content;
                        &:hover {
                            cursor: pointer;
                            mat-icon {
                                animation: arrow 1s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .projects-title-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .sub-title {
                font-size: var(--font-text);
                margin-bottom: 1rem;
                color: var(--color-font-invert);
                font-weight: bold;
            }
            .title {
                font-size: 2.5rem;
                line-height: 1.25;
                color: var(--color-font-invert);
            }
        }
    }

    .projects-main-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 0 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .project {
                .image {
                    width: 100%;
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .content-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.75rem;
                    margin-top: 1.5rem;
                    .tags {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .category {
                            font-size: var(--font-mini);
                            color: var(--color-font-black);
                            padding: 0.25rem 0.75rem;
                            background-color: var(--color-button-gray-2);
                            font-weight: bold;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .time {
                            font-size: var(--font-mini);
                            color: var(--color-font-invert);
                            font-weight: bold;
                        }
                    }
                    .title {
                        font-size: 1.5rem;
                        color: var(--color-font-invert);
                        font-weight: bold;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .text {
                        font-size: var(--font-text);
                        color: var(--color-font-invert);
                    }
                    .button {
                        padding: 0.75rem 1.5rem;
                        padding-left: 0;
                        color: var(--color-font-invert);
                        border-radius: var(--border-low);
                        font-size: var(--font-text);
                        transition: var(--anim-mid);
                        min-width: 6rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        justify-content: center;
                        width: fit-content;
                        &:hover {
                            cursor: pointer;
                            mat-icon {
                                animation: arrow 1s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }

    .projects-tag-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 2.55rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .tags-list {
                display: flex;
                align-items: center;
                gap: 1rem;
                .tag {
                    font-size: var(--font-text);
                    color: var(--color-font-invert);
                    padding: 0.25rem 0.75rem;
                    &.active {
                        background-color: var(--color-button-gray-2);
                    }
                }
            }
        }
    }

    .projects-list-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 0 2.5rem 2.5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .project-list {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                .image {
                    width: 100%;
                    aspect-ratio: 1.5/1;
                    object-fit: cover;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .content-block {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.75rem;
                    .tags {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        .category {
                            font-size: var(--font-mini);
                            color: var(--color-font-black);
                            padding: 0.25rem 0.75rem;
                            background-color: var(--color-button-gray-2);
                            font-weight: bold;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .time {
                            font-size: var(--font-mini);
                            color: var(--color-font-invert);
                            font-weight: bold;
                        }
                    }
                    .title {
                        font-size: 1.25rem;
                        color: var(--color-font-invert);
                        font-weight: bold;
                        display: block;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .text {
                        font-size: var(--font-text);
                        color: var(--color-font-invert);
                    }
                    .button {
                        padding: 0.75rem 1.5rem;
                        padding-left: 0;
                        color: var(--color-font-invert);
                        border-radius: var(--border-low);
                        font-size: var(--font-text);
                        transition: var(--anim-mid);
                        min-width: 6rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        justify-content: center;
                        width: fit-content;
                        &:hover {
                            cursor: pointer;
                            mat-icon {
                                animation: arrow 1s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes arrow {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(6px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
