@use "../../../../../styles/button/button.scss";
@import url("../../../../../styles/_lightbox.scss");
.project-title-section {
    .padding-block {
        .title {
            margin: 0 auto 1.5rem;
            text-align: center;
        }
        .text {
            text-align: center;
        }
    }
}
.project-main-section {
    .padding-block {
        .content-block {
            display: grid;
            gap: 4rem;
            align-items: center;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                mat-icon {
                    width: 2rem;
                    height: 2rem;
                    font-size: 2rem;
                }
                .title {
                    font-weight: bold;
                    text-align: center;
                }
                .text {
                    font-size: var(--font-16);
                    text-align: center;
                }
            }
            .left-content,
            .right-content {
                display: flex;
                flex-direction: column;
                gap: 4rem;
            }
            .slider-block {
                .sliders {
                    margin-bottom: 1rem;
                    .slider {
                        background: none;
                        border: none;
                        border-radius: var(--border-16);
                        .image {
                            width: 100%;
                            aspect-ratio: 1;
                            object-fit: contain;
                        }
                    }
                }
                ::ng-deep .dots {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    .dot {
                        width: 1rem;
                        aspect-ratio: 1;
                        border-radius: var(--border-100);
                        background-color: var(--color-button-gray-2);
                        transition: var(--anim-2);
                        border: none;
                        &.active {
                            background-color: var(--color-button-blue-2);
                        }
                    }
                }
            }
        }
        .buttons-block {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;
            .button {
                &:first-of-type {
                    @include button.button($solid: true);
                }
                &:last-of-type {
                    @include button.button($arrow: true);
                }
            }
        }
    }
}
.project-tech-section {
    background-color: var(--color-back-blue-1);
    * {
        color: var(--color-font-white);
    }
    .padding-block {
        > .title {
            font-size: var(--font-20);
            margin-bottom: 2rem;
            text-align: center;
        }
        .tech-list {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 1rem;
            .tech {
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                background-color: var(--color-button-blue-2);
                border-radius: var(--border-8);
                transition: var(--anim-2);
                padding: 0.875rem;
                cursor: default;
                .image {
                    width: 2.5rem;
                    aspect-ratio: 1;
                    --color-1: var(--color-font-white);
                }
                .text {
                    font-size: var(--font-20);
                    font-weight: bold;
                }
            }
        }
    }
}
.project-devs-section {
    .padding-block {
        > .title {
            margin-bottom: 1.5rem;
            text-align: center;
        }
        > .text {
            font-size: var(--font-18);
            text-align: center;
            margin: 0 auto;
        }
        .devs-block {
            display: grid;
            .dev {
                position: relative;
                height: fit-content;
                .title {
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
                .text {
                    font-size: var(--font-16);
                }
                .diviner {
                    position: absolute;
                    height: 100%;
                    top: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .circle {
                        z-index: 2;
                        width: 1rem;
                        height: 1rem;
                        border-radius: var(--border-100);
                        background-color: var(--color-button-blue-2);
                        box-shadow: 0px 0px 0px 0.5rem var(--color-back-invert);
                    }
                    .line {
                        height: 90%;
                        width: 3px;
                        background-color: var(--color-button-blue-2);
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 800px) {
    .project-title-section {
        .padding-block {
            .title {
                font-size: var(--font-56);
            }
            .text {
                font-size: var(--font-18);
                margin: 0 auto;
            }
        }
    }
    .project-main-section {
        .padding-block {
            .content-block {
                grid-template-columns: 1fr 1.5fr 1fr;
                .item {
                    .title {
                        font-size: var(--font-24);
                    }
                    .text {
                        span {
                            display: block;
                        }
                    }
                }
                .slider-block {
                    .sliders {
                        border-radius: var(--border-16);
                        overflow: hidden;
                        .slider {
                            height: 100%;
                            aspect-ratio: 1;
                            overflow: hidden;
                            .image {
                                cursor: pointer;
                            }
                        }
                    }
                    ::ng-deep .dots {
                        .dot {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .project-tech-section {
        border-radius: var(--border-16);
        .padding-block {
            padding: 5rem;
            .tech-list {
                .tech {
                    min-width: 12.5rem;
                    &:hover {
                        transform: scale(1.05) translateY(0.25rem);
                        box-shadow: 0 -5px 0 0 var(--color-button-gray-2);
                    }
                }
            }
        }
    }
    .project-devs-section {
        .padding-block {
            > .title {
                font-size: var(--font-40);
            }
            > .text {
                max-width: 40rem;
            }
            .devs-block {
                margin-top: 5rem;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 5rem;
                .dev {
                    text-align: right;
                    &:nth-child(even) {
                        margin-top: 5rem;
                        text-align: left;
                        .diviner {
                            right: auto;
                            left: 0;
                            transform: translateX(-100%);
                        }
                    }
                    &:hover {
                        .diviner {
                            .line {
                                background: linear-gradient(0deg, var(--color-back-blue-2) 25%, var(--color-back-invert) 50%, var(--color-back-blue-2) 75%);
                                background-size: 300% 300%;
                                animation: gradient 1s ease infinite;
                                @keyframes gradient {
                                    0% {
                                        background-position: 50% 100%;
                                    }
                                    100% {
                                        background-position: 50% 0%;
                                    }
                                }
                            }
                        }
                    }
                    .title {
                        font-size: var(--font-24);
                    }
                    .diviner {
                        right: 0;
                        transform: translateX(100%);
                        width: 5rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .project-title-section {
        .padding-block {
            .title {
                font-size: var(--font-40);
                max-width: 30rem;
            }
            .text {
                font-size: var(--font-16);
            }
        }
    }
    .project-main-section {
        .padding-block {
            .content-block {
                grid-template-columns: 1fr;
                .item {
                    .title {
                        font-size: var(--font-20);
                    }
                }
                .left-content,
                .right-content {
                    order: 1;
                }
                .slider-block {
                    order: 2;
                }
            }
        }
    }
    .project-tech-section {
        .padding-block {
            padding: 2.5rem;
            .tech-list {
                .tech {
                    width: 100%;
                }
            }
        }
    }
    .project-devs-section {
        .padding-block {
            > .title {
                font-size: var(--font-36);
            }
            > .text {
                max-width: 30rem;
            }
            .devs-block {
                margin-top: 2.5rem;
                grid-template-columns: 1fr;
                margin-left: 2.5rem;
                .dev {
                    text-align: left;
                    padding-bottom: 2.5rem;
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                    .title {
                        font-size: var(--font-20);
                    }
                    .diviner {
                        left: 0;
                        transform: translateX(-100%);
                        width: 3rem;
                    }
                }
            }
        }
    }
}
