@media screen and (min-width: 800px) {
    .project-title-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .title {
                font-size: 3rem;
                line-height: 1.25;
                color: var(--color-font-invert);
                max-width: 30rem;
                margin: 0 auto 1.5rem;
                text-align: center;
            }
            .text {
                font-size: var(--font-input);
                color: var(--color-font-invert);
                text-align: center;
            }
        }
    }

    .project-main-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 0 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            .content-block {
                display: grid;
                grid-template-columns: 1fr 1.5fr 1fr;
                gap: 4rem;
                align-items: center;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    mat-icon {
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                    }
                    .title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: var(--color-font-invert);
                        text-align: center;
                    }
                    .text {
                        font-size: 1rem;
                        text-align: center;
                    }
                }
                .left-content,
                .right-content {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;
                }
                .slider-block {
                    .sliders {
                        margin-bottom: 1rem;
                        .slider {
                            .image {
                                width: 100%;
                                aspect-ratio: 1;
                            }
                        }
                    }
                    ::ng-deep .dots {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        .dot {
                            width: 0.75rem;
                            aspect-ratio: 1;
                            border-radius: 100%;
                            background-color: var(--color-button-gray-2);
                            transition: all 0.2s ease-in-out;
                            border: none;
                            &:hover {
                                cursor: pointer;
                            }
                            &.active {
                                background-color: var(--color-button-blue-2);
                            }
                        }
                    }
                }
            }
            .buttons-block {
                margin-top: 2rem;
                display: flex;
                gap: 1rem;
                justify-content: center;
                .button {
                    padding: 0.75rem 1.5rem;
                    color: var(--color-font-invert);
                    border-radius: var(--border-low);
                    font-size: var(--font-text);
                    transition: var(--anim-mid);
                    min-width: 6rem;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                    }
                    &:first-of-type {
                        color: var(--color-font-white);
                        background-color: var(--color-button-blue-2);
                        box-shadow: 0 5px 0 0 var(--color-button-blue-3);
                        backdrop-filter: blur(10px);
                        border-radius: 12px;
                        &:hover {
                            box-shadow: 0 2px 0 0 var(--color-button-blue-3);
                            transform: translate(0px, 3px);
                        }
                    }
                    &:last-of-type {
                        &:hover {
                            mat-icon {
                                animation: arrow 1s ease-in-out infinite;
                            }
                        }
                    }
                }
            }
        }
    }

    .project-tech-section {
        max-width: 81.25rem;
        margin: 5rem auto 0;
        background-color: var(--color-back-blue-1);
        border-radius: var(--border-high);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: 1.25rem;
                margin-bottom: 2rem;
                text-align: center;
                color: var(--color-font-white);
            }
            .tech-list {
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 2rem;
                row-gap: 1rem;
                .tech {
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    .image {
                        width: 2.5rem;
                        aspect-ratio: 1;
                    }
                    .text {
                        font-size: var(--font-label);
                        font-weight: bold;
                        color: var(--color-font-white);
                    }
                }
            }
        }
    }

    .project-devs-section {
        max-width: 81.25rem;
        margin: 0 auto;
        background-color: var(--color-back-invert);
        .padding-block {
            padding: 5rem;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            > .title {
                font-size: 3rem;
                line-height: 1.25;
                color: var(--color-font-invert);
                margin-bottom: 1.5rem;
                text-align: center;
            }
            > .text {
                font-size: 1.125rem;
                text-align: center;
                max-width: 30rem;
                margin: 0 auto;
            }
            .devs-block {
                margin-top: 5rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 5rem;
                .dev {
                    position: relative;
                    height: fit-content;
                    text-align: right;
                    &:nth-child(even) {
                        margin-top: 5rem;
                        text-align: left;
                        .diviner {
                            right: auto;
                            left: 0;
                            transform: translateX(-100%);
                        }
                    }
                    .title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                    }
                    .text {
                        font-size: 1rem;
                    }
                    .diviner {
                        right: 0;
                        transform: translateX(100%);
                        position: absolute;
                        width: 5rem;
                        height: 100%;
                        top: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .circle {
                            z-index: 2;
                            width: 1rem;
                            height: 1rem;
                            border-radius: 100%;
                            background-color: var(--color-button-blue-2);
                            box-shadow: 0px 0px 0px 0.5rem var(--color-back-invert);
                        }
                        .line {
                            height: 90%;
                            width: 3px;
                            background-color: var(--color-button-blue-2);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
}
