@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeBottom {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeWidth {
    0% {
        opacity: 0;
        max-width: 50%;
    }
    100% {
        opacity: 1;
        max-width: 100%;
    }
}
