@mixin constants() {
    :host,
    :root {
        --color-white: #f5f5f5;
        --color-black: #333333;
        --color-target: #365d82;
        --color-back: #728da7;

        // // --color-white: #ffffff;
        // --color-white: #fafafa;
        // --color-blue: #29abe2;
        // --color-red: #bc3b45;
        // --color-green: #00a048;
        // --color-gray-dark: #999999;
        // --color-gray: #b3b3b3;
        // --color-gray-light: #cccccc;
        // --color-gray-white: #e6e6e6;
        // --color-gold: #fec000;
        // --color-brown: #666057;
        // // --color-black: #000000;
        // --color-black: #2d2d2d;
        // //
        // --dark-back: #14151c;
        // --color-blue-dark: #002138;
        //
        --font-gigant: 3.75rem; // 60px
        --font-titan: 2.5rem; // 40px
        --font-ogr: 1.875rem; // 30px
        --font-huge: 1.75rem; // 28px
        --font-big: 1.625rem; // 26px
        --font-title: 1.5rem; //24px
        --font-label: 1.375rem; //22px
        --font-big-text: 1.25rem; // 20px
        --font-input: 1.125rem; //18px
        --font-text: 1rem; //16px
        --font-mini: 0.875rem; //14px
        --font-small: 0.75rem; //12px
        --font-micro: 0.525rem; //10px
        //
        --shadow-low: 0 3px 2px rgba(0, 0, 0, 0.45);
        --shadow-mid: 0 9px 5px rgba(0, 0, 0, 0.45);
        //
        --border-low: 5px;
        --border-mid: 8px;
        --border-high: 16px;
        //
        --anim-slow: all 0.3s ease-in-out;
        --anim-mid: all 0.2s ease-in-out;
        --anim-fast: all 0.1s ease-in-out;
    }
}
