@mixin constants($dark: false) {
    @if $dark {
        --color-font-invert: #f0f0f0;

        --color-back-invert: #191919;

        --color-back-white: #ffffff;
        --color-back-black: #333333;
        --color-back-blue-1: #2f4a66;
        --color-back-blue-2: #3b5d7f;
        --color-back-blue-3: #222c36;
        --color-back-gray: #999898;

        // #728DA7
        // #365D82
        // #2B4A68

        --color-font-white: #f0f0f0;
        --color-font-black: #333333;
        --color-font-gold: #f39c12;
        --color-font-gray: #999898;
        --color-font-blue-1: #728da7;
        --color-font-blue-2: #3b5d7f;

        --color-button-gray-1: #3c3c3c;
        --color-button-gray-2: #333333;
        --color-button-blue-1: #2f4a66;
        --color-button-blue-2: #3b5d7f;
        --color-button-blue-3: #222c36;
    } @else {
        --color-font-invert: #333333;

        --color-back-invert: #ffffff;
        //

        --color-back-white: #ffffff;
        --color-back-black: #333333;
        --color-back-blue-1: #728da7;
        --color-back-blue-2: #365d82;
        --color-back-blue-3: #2b4a68;
        --color-back-gray: #999898;

        --color-font-white: #ffffff;
        --color-font-black: #333333;
        --color-font-gold: #f39c12;
        --color-font-gray: #999898;
        --color-font-blue-1: #728da7;
        --color-font-blue-2: #2b4a68;

        --color-button-gray-1: #f1f1f1;
        --color-button-gray-2: #dbdbdb;
        --color-button-blue-1: #728da7;
        --color-button-blue-2: #365d82;
        --color-button-blue-3: #2b4a68;
    }
    //
    --font-56: 3.5rem; // desktop home title // H1
    --font-48: 3rem; // desktop title // H1
    --font-40: 2.5rem; // mobile home title // H2
    --font-36: 2.25rem; // mobile title // H2
    --font-32: 2rem;
    --font-24: 1.5rem; // H3
    --font-20: 1.25rem; // H3 mobile // H4 desktop
    --font-18: 1.125rem; // P title
    --font-16: 1rem; // P
    --font-14: 0.875rem;
    --font-12: 0.75rem;
    //
    --border-100: 100%;
    --border-16: 1rem; // images / blocks
    --border-12: 0.75rem; // buttons big
    --border-8: 0.5rem; // elements
    //
    // --anim-slow: all 0.3s ease-in-out;
    --anim-2: all 0.2s ease-in-out;
    // --anim-fast: all 0.1s ease-in-out;
    //
    // --font-gigant: 3.75rem; // 60px
    // --font-titan: 2.5rem; // 40px
    // --font-ogr: 1.875rem; // 30px
    // --font-huge: 1.75rem; // 28px
    // --font-big: 1.625rem; // 26px
    // --font-title: 1.5rem; //24px
    // --font-label: 1.375rem; //22px
    // --font-big-text: 1.25rem; // 20px
    // --font-input: 1.125rem; //18px
    // --font-text: 1rem; //16px
    // --font-mini: 0.875rem; //14px
    // --font-small: 0.75rem; //12px
    // --font-micro: 0.525rem; //10px
    //
    --shadow-low: 0 3px 2px rgba(0, 0, 0, 0.45);
    --shadow-mid: 0 9px 5px rgba(0, 0, 0, 0.45);
    //
    // --border-low: 5px;
    // --border-mid: 8px;
    // --border-high: 16px;
    //
    // --anim-slow: all 0.3s ease-in-out;
    // --anim-mid: all 0.2s ease-in-out;
    // --anim-fast: all 0.1s ease-in-out;
}
