@use "./buttons/buttons.scss";

.paginator-container {
    .loader {
        margin: 1em auto 0;
        min-width: 7em;
        width: fit-content;
        .button {
            width: 14.5rem;
            height: 2.5rem;
            position: relative;
            cursor: pointer;
            background: none;
            border: none;
            margin: 1rem 0;
            .outer {
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, var(--back-light-blue) 55%, var(--back-dark-blue) 90%);
                border: 1px solid var(--icon-brown);
                border-radius: var(--border-mid);
                position: relative;
            }
            .inner {
                width: 4.375rem;
                position: absolute !important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include buttons.sq-buttons($shadow: true);
            }
            &:hover {
                .inner {
                    .back {
                        border-color: var(--icon-blue);
                    }
                }
            }
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1.75rem;
                width: 13.25rem;
                z-index: 0;
                transition: all 0.2s ease-in-out;
                background-image: url("/assets/images/icons/dialog_wide_underline.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 50%;
                z-index: -1;
            }
            &:not(:disabled) {
                cursor: pointer;
                &:hover {
                    &:before {
                        bottom: -0.375rem;
                        right: -0.375rem;
                    }
                }
            }
        }
    }
    .diviner {
        height: 1px;
        width: 25%;
        background: linear-gradient(20deg, rgba(0, 0, 0, 0) 10%, #29abe2 50%, rgba(0, 0, 0, 0) 90%);
        margin: 1rem auto;
    }
    .paginator {
        display: flex;
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        min-height: 2.5rem;
        width: fit-content;
        margin: 2rem auto 1rem;
        gap: 2rem;
        align-items: center;
        &.hide {
            display: none;
        }
        .pages {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
            .arrow {
                min-width: 2.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
                background: none;
                border: none;
                .inner {
                    width: 2.5rem;
                    position: absolute !important;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include buttons.sq-buttons($shadow: true);
                }
                &.next {
                    .icon {
                        transform: scaleX(-1);
                    }
                }
                &:hover {
                    .back {
                        --color-1: var(--icon-blue);
                    }
                }
                &:disabled {
                    pointer-events: none;
                    opacity: 0.6;
                }
            }
            .page {
                min-width: 2.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                cursor: pointer;
                border: 1px solid transparent;
                color: var(--color-gray);
                font-size: var(--font-big-text);
                background: none;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: var(--back-menu-blue);
                }
                &.active {
                    background-color: var(--back-dark-blue);
                    border-color: var(--icon-blue);
                }
                &.disabled {
                    pointer-events: none;
                }
                &.dot {
                    pointer-events: none;
                    background-color: transparent;
                }
            }
        }
        .resizer-block {
            display: flex;
            gap: 1rem;
            background-color: var(--back-light-blue);
            border-radius: 100px;
            cursor: pointer;
            &:hover {
                .resize-icon {
                    .icon {
                        --color-1: var(--icon-blue);
                    }
                }
                .resizer {
                    .size {
                        &.active {
                            color: var(--icon-blue);
                        }
                    }
                }
            }

            &.active {
                .resize-icon {
                    .icon {
                        --color-1: var(--icon-blue);
                    }
                }
                .resizer {
                    gap: 1rem;
                    .size {
                        width: 2.5rem;
                        opacity: 1;
                        &.active {
                            border: 1px solid var(--icon-brown);
                            background-color: var(--back-light-blue);
                        }
                    }
                }
            }
            .resize-icon {
                width: 2.5rem;
                min-width: 2.5rem;
                height: 2.5rem;
                background: none;
                border: 1px solid var(--icon-brown);
                background-color: var(--back-dark-blue);
                border-radius: 100%;
                cursor: pointer;
                .icon {
                    width: 65%;
                    aspect-ratio: 1;
                    --color-1: var(--icon-brown);
                }
            }
            .resizer {
                border-radius: 20px;
                display: flex;
                position: relative;
                justify-content: center;
                gap: 0rem;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                .size {
                    width: 0;
                    height: 2.5rem;
                    border-radius: 100%;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--font-big-text);
                    color: var(--color-gray);
                    display: flex;
                    opacity: 0;
                    z-index: 1;
                    text-transform: lowercase;
                    transition: all 0.2s ease-in-out;
                    background: none;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        color: var(--color-blue);
                    }
                    &.active {
                        background-color: var(--back-menu-blue);
                        opacity: 1;
                        width: 2.5rem;
                    }
                }
                &.active {
                    .value {
                        display: flex;
                    }
                }
            }
        }
    }
}
