@use "../../../../styles/button/button.scss";
  .about-title-section {
    .padding-block {
      display: grid;
      align-items: center;
      .content-block {
        .title {
          margin-bottom: 1.5rem;
        }
        .text {
          font-size: var(--font-18);
          margin-bottom: 2rem;
        }
        .data-block {
          display: grid;
          gap: 1.5rem;
          .item {
            mat-icon {
              width: 2rem;
              height: 2rem;
              font-size: 2rem;
              margin-bottom: 1rem;
              color: var(--color-font-gray);
            }
            .title {
              font-size: var(--font-20);
              margin-bottom: 1rem;
              font-weight: bold;
            }
            .text {
              font-size: var(--font-16);
            }
          }
        }
      }
      .image {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: var(--border-16);
      }
    }
  }
  .about-else-section {
    background-color: var(--color-back-blue-1);
    * {
      color: var(--color-font-white);
    }
    .padding-block {
      > .title {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      .content-block {
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        .item {
          text-align: center;
          .image {
            margin-bottom: 1.5rem;
            width: 2.75rem;
            height: 2.75rem;
            --color-1: var(--color-font-white);
          }
          .title {
            text-align: center;
            font-size: var(--font-20);
            font-weight: bold;
          }
          .text {
            font-size: var(--font-16);
          }
        }
      }
      .buttons-block {
        display: flex;
        gap: 1rem;
        justify-content: center;
        .button {
          &:first-of-type {
            @include button.button($solid: true);
          }
        }
      }
    }
  }
  .about-history-section {
    .padding-block {
      > .title {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      > .text {
        font-size: var(--font-18);
        text-align: center;
        margin: 0 auto;
      }
      .devs-block {
        display: grid;
        .dev {
          position: relative;
          height: fit-content;
          .title {
            font-weight: bold;
            margin-bottom: 1rem;
          }
          .text {
            font-size: var(--font-16);
          }
          .date {
            font-weight: bold;
            margin-bottom: 1rem;
          }
          .diviner {
            position: absolute;
            height: 100%;
            top: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .circle {
              z-index: 2;
              width: 1rem;
              height: 1rem;
              border-radius: var(--border-100);
              background-color: var(--color-button-blue-2);
              box-shadow: 0px 0px 0px 0.5rem var(--color-back-invert);
            }
            .line {
              height: 90%;
              width: 3px;
              background-color: var(--color-button-blue-2);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 860px) {
    .about-title-section {
      .padding-block {
        grid-template-columns: 1fr;
        gap: 2.5rem;
        .content-block {
          .title {
            font-size: var(--font-40);
          }
          .data-block {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    .about-else-section {
      .padding-block {
        padding: 2.5rem;
        > .title {
          font-size: var(--font-40);
        }
        > .text {
          font-size: var(--font-18);
          text-align: center;
          max-width: 30rem;
          margin: 0 auto;
        }
        .content-block {
          margin-top: 2.5rem;
          grid-template-columns: 1fr;
          .item {
            .sub-title {
              font-size: var(--font-18);
              margin-bottom: 1rem;
            }
          }
        }
        .buttons-block {
          margin-top: 2.5rem;
          .button {
            &:last-of-type {
              @include button.button($arrow: true);
            }
          }
        }
      }
    }
    .about-history-section {
      .padding-block {
        > .title {
          font-size: var(--font-40);
        }
        > .text {
          max-width: 30rem;
        }
        .devs-block {
          margin-top: 2.5rem;
          grid-template-columns: 1fr;
          margin-left: 2.5rem;
          .dev {
            text-align: left;
            padding-bottom: 2.5rem;
            &:last-of-type {
              padding-bottom: 0;
            }
            .title {
              font-size: var(--font-20);
            }
            .date {
              font-size: var(--font-24);
            }
            .diviner {
              left: 0;
              transform: translateX(-100%);
              width: 3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 860px) {
    .about-title-section {
      .padding-block {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        .content-block {
          .title {
            font-size: var(--font-48);
          }
          .data-block {
            grid-template-columns: 1fr 1fr;
          }
        }
        .image {
          transition: var(--anim-2);
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    .about-else-section {
      border-radius: var(--border-16);
      .padding-block {
        padding: 5rem;
        > .title {
          font-size: var(--font-48);
        }
        .content-block {
          margin-top: 5rem;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          .item {
            &:hover {
              .image {
                transform: scale(1.1);
              }
            }
            .image {
              transition: var(--anim-2);
            }
            .title {
              margin-bottom: 1rem;
            }
          }
        }
        .buttons-block {
          margin-top: 5rem;
          .button {
            &:last-of-type {
              @include button.button($arrow: true, $color: var(--color-font-white));
            }
          }
        }
      }
    }
    .about-history-section {
      .padding-block {
        > .title {
          font-size: var(--font-48);
        }
        > .text {
          max-width: 50rem;
        }
        .devs-block {
          margin-top: 5rem;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 5rem;
          .dev {
            text-align: right;
            &:hover {
              .diviner {
                .line {
                  background: linear-gradient(0deg, var(--color-back-blue-2) 25%, var(--color-back-invert) 50%, var(--color-back-blue-2) 75%);
                  background-size: 300% 300%;
                  animation: gradient 1s ease infinite;
                  @keyframes gradient {
                    0% {
                      background-position: 50% 100%;
                    }
                    100% {
                      background-position: 50% 0%;
                    }
                  }
                }
              }
            }
            &:nth-child(even) {
              margin-top: 6rem;
              text-align: left;
              .diviner {
                right: auto;
                left: 0;
                transform: translateX(-100%);
              }
              .title,
                        .text {
                margin-left: 0;
                margin-right: auto;
              }
            }
            .title {
              font-size: var(--font-24);
              max-width: 20rem;
              margin-left: auto;
            }
            .text {
              max-width: 25rem;
              margin-left: auto;
            }
            .date {
              font-size: var(--font-32);
            }
            .diviner {
              right: 0;
              transform: translateX(100%);
              width: 5rem;
            }
          }
        }
      }
    }
  }
